<div class="hike-title text-center">
  <h1>Hyykers</h1>
</div>
<div class="row text-center class-method-buttons">
  <a href="users/most_active" class="btn btn-primary" id="most-active-btn"><i class="fa fa-trophy" aria-hidden="true"></i> Current Most Active User</a>
  <a href="users/rock_climber" id="rock-climber-btn" class="btn btn-primary"><i class="fa fa-trophy" aria-hidden="true"></i> Current Rock Climber</a>
  <a href="users/trail_runner" id="trail-runner-btn" class="btn btn-primary"><i class="fa fa-trophy" aria-hidden="true"></i> Current Trail Runner</a>
</div>

<%= render @users %>
