<div class="hike-title text-center">
  <h1>Hyykers</h1>
</div>
<div class="row text-center class-method-buttons">
  <button class="btn btn-primary" id="most-active-btn"><i class="fa fa-trophy" aria-hidden="true"></i> Current Most Active User</button>
  <button id="rock-climber-btn" class="btn btn-primary"><i class="fa fa-trophy" aria-hidden="true"></i> Current Rock Climber</button>
  <button id="trail-runner-btn" class="btn btn-primary"><i class="fa fa-trophy" aria-hidden="true"></i> Current Trail Runner</button>
</div>

<%= render @users %>
