<div class="hike-title text-center">
  <h1>Hyykers</h1>
</div>
<div class="row text-center">
  <%= link_to "Current Most Active User", users_most_active_path, class: "btn btn-primary" %>
</div>

<%= render @users %>
