<div class="hike-title text-center">
  <h1>Hyykers</h1>
</div>
<div class="row text-center">
  <%= link_to users_most_active_path, class: "btn btn-primary" do %>
    <i class="fa fa-trophy" aria-hidden="true"></i> Current Most Active User
  <% end %>
  <%= link_to users_rock_climber_path, class: "btn btn-primary" do %>
    <i class="fa fa-trophy" aria-hidden="true"></i> Current Rock Climber
  <% end %>
  <%= link_to users_trail_runner_path, class: "btn btn-primary" do %>
    <i class="fa fa-trophy" aria-hidden="true"></i> Current Trail Runner
  <% end %>
</div>

<%= render @users %>

<i class="fa fa-trophy" aria-hidden="true"></i>
