<div class="text-center hike-title">
  <h1>Rock Climber (Highest Elevation Hiked)</h1>
</div>

<div class="text-center">
  <%= link_to "Back to Community Page", users_path, class: "btn btn-primary" %>
</div>

<div class="footer-fix">
  <%= render @user %>
</div>
