<div class="hike-title text-center">
  <h1>Trails</h1>
</div>

<div class="row text-center jquery-fix">
  <%= link_to new_trail_path, class: "btn btn-success" do %>
    <i class="fa fa-plus" aria-hidden="true"></i> Create a New Trail
  <% end %>
</div>

<%= render @trails %>

<script type="text/javascript" charset="utf-8">
  $(function() {
    attachShowUsers();
  });

  function attachShowUsers() {
    $('.show-users-btn').click(function() {
      var id = $(this).data("id");
      var json = "/trails/" + id + ".json"
      $.get(json)
      .done(function(trailJSON) {
        // creating new Trail JS Object
        var trail = $.extend(new Trail(), trailJSON);

        var trailUsersId = "#trail-users-" + trail.id;
        var showUsersBtn = "#show-users-btn-" + trail.id;
        if ($(trailUsersId).children().length == 0) {
          // if users div is empty,
          $(showUsersBtn).text("Hide Hyykers");
          if (trail.users.length) {
            var html = '<h3 class="text-center">Hyykers</h3>';
            trail.users.forEach(function(userJSON) {
              var user = $.extend(new User(), userJSON);
              if (!html.includes(user.displayNameOrEmail())) {
                html += '<div class="trail-user-box">';
                html += '<h4>${user.displayNameOrEmail()}</h4>';
                html += '<a href="' + user.displayUrlPath() + '" class="btn btn-success trail-user">View Profile</a>';
                html += '</div>';
              }
            });
          } else {
            html = '<h3 class="text-center">No Hyykers Yet!</h3>';
          }
          $(trailUsersId).html(html);
        } else {
          $(trailUsersId).empty();
          $(showUsersBtn).text("Show Hyykers");
        }
      });
    });
  }
</script>
