<div class="hike-title text-center">
  <h1>Trails</h1>
</div>

<div class="row text-center jquery-fix">
  <%= link_to new_trail_path, class: "btn btn-success" do %>
    <i class="fa fa-plus" aria-hidden="true"></i> Create a New Trail
  <% end %>
</div>

<%= render @trails %>
