<div class="hike-title text-center">
  <h1>Trails</h1>
</div>

<div class="row text-center jquery-fix">
  <%= link_to new_trail_path, class: "btn btn-success" do %>
    <i class="fa fa-plus" aria-hidden="true"></i> Create a New Trail
  <% end %>
</div>

<%= render @trails %>

<script type="text/javascript" charset="utf-8">
  $(function() {
    attachShowUsers();
  });

  function attachShowUsers() {
    $('.show-users-btn').click(function() {
      var id = $(this).data("id");
      $.get(`/trails/${id}.json`)
      .done(function(trailJSON) {
        // creating new Trail JS Object
        var trail = $.extend(new Trail(), trailJSON);

        if ($(`#trail-users-${trail.id}`).children().length == 0) {
          // if users div is empty,
          $(`#show-users-btn-${trail.id}`).text("Hide Hyykers");
          if (trail.users.length) {
            var html = '<h3 class="text-center">Hyykers</h3>';
            trail.users.forEach(function(user) {
              var displayName = user['name'] || user['email'];
              if (!html.includes(displayName)) {
                html += `
                  <div class="trail-user-box">
                    <h4><a href="/users/${user['id']}" class="btn btn-success trail-user">${displayName}</a></h4>
                  </div>
                `;
              }
            });
          } else {
            html = '<h3 class="text-center">No Hyykers Yet!</h3>';
          }
          $(`#trail-users-${trail.id}`).html(html);
        } else {
          $(`#trail-users-${trail.id}`).empty();
          $(`#show-users-btn-${trail.id}`).text("Show Hyykers");
        }
      });
    });
  }
</script>
