<div class="hike-title text-center">
  <h1>Trails</h1>
</div>

<div class="row text-center">
  <%= link_to "Create a New Trail", new_trail_path, class: "btn btn-primary" %>
</div>

<%= render @trails %>
