<div class="row hyyk-index">
  <div class="col-md-12 text-center">
    <h1 class="index-hyyker-text">Hyyker</h1>
    <h3>A simple hiking logger</h3>
    <% if user_signed_in? %>
      <button class="btn btn-primary"><i class="fa fa-globe" aria-hidden="true"></i> All Trails</button>
      <%= link_to new_trail_path, class: "btn btn-success" do %>
        <i class="fa fa-plus" aria-hidden="true"></i> Create a New Trail
      <% end %>
    <% else %>
      <%= link_to "Log In", new_user_session_path, class: "btn btn-primary btn-lg" %>
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-success btn-lg" %>
    <% end %>
  </div>
</div>
<div id="index-trails" class="footer-fix"></div>
