<div class="row footer-fix hyyk-index">
  <div class="col-md-4 col-md-offset-4 text-center">
    <h1 class="index-hyyker-text">Hyyker</h1>
    <h3>A simple hiking logger</h3>
    <% if user_signed_in? %>
      <%= link_to "All Trails", trails_path, class: "btn btn-primary" %>
      <%= link_to "Create a New Trail", new_trail_path, class: "btn btn-primary" %>
    <% else %>
      <%= link_to "Log In", new_user_session_path, class: "btn btn-primary btn-lg" %>
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-success btn-lg" %>
    <% end %>
  </div>
</div>
