<div class="row footer-fix">
  <div class="col-md-4 col-md-offset-4 text-center">
    <h1>Hyyker</h1>
    <h3>A simple hiking logger</h3>
    <%= link_to "All Trails", trails_path, class: "btn btn-primary" %>
    <%= link_to "Create a New Trail", new_trail_path, class: "btn btn-primary" %>
  </div>
</div>
