/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  font-family: 'Nunito', sans-serif;
}

h1 {
  font-size: 3.5em;
  font-family: 'Righteous', cursive;
  text-shadow: 0 1px 2px black;
}

body {
  background-color: #538F6A;
  margin-top: 50px;
}

a {
  color: white;
}

a.btn.btn-success.form-control {
  margin-bottom: 10px;
}

.hyyk-footer {
  background-color: #1B4B36;
  margin-top: 25px;
  padding: 25px;
  text-align: center;
  width: 100%;
}

.hyyk-index-bg {
  border-radius: 10px;
  padding: 50px;
  background-image: url("http://i.imgur.com/Ru8YkDJ.jpg");
  background-size: cover;
}

.social-icons {
  display: flex;
  justify-content: space-around;
}

/* navbar */
.navbar-default {
    background-color: #1B4B36;
    border: none;
    box-shadow: 0 2px 3px black;
}
/* Title */
.navbar-default .navbar-brand {
    color: #fff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #fff;
}
/* Link */
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ccc;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ccc;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #1B4B36;
}
/* Caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* Mobile version */
.navbar-default .navbar-toggle {
    background-color: #1B4B36;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #1B4B36;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}

.btn {
  box-shadow: 0 2px 2px black;
}


@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
          color: #333;
    }
}

/* index button margin right */

body > div.container > div > div > a.btn.btn-primary {
  margin-right: 25px;
}

/* index page subtitle */

body > div.container > div > div > h3 {
  font-size: 3em;
  color: #49D292;
  text-shadow: 0 2px 2px black;
  margin-bottom: 20px;
}
