// Place all the styles related to the hikes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hike-div {
  background-color: #1B4B36;
  color: white;
  padding: 15px;
  margin: 15px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  h3 {
    margin: 0;
  }
}
