// Place all the styles related to the hikes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hike-div {
  background-color: #1B4B36;
  color: white;
  padding: 15px;
  margin: 15px 0;
  border-radius: 10px 10px 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  h3 {
    margin: 0;
  }
}

@media (max-width: 990px) {
  .hike-div {
    display: block;
  }
}

.hike-header {
  padding: 40px;
}

.hyyk-delete {
  margin-top: -16px;
  margin-bottom: 15px;
}
