// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.footer-fix {
  min-height: 85vh;
}

.hyyk-index {
  margin-top: 60px;
}

.index-hyyker-text {
  font-size: 6em;
  font-family: 'Righteous', cursive;
  color: white;
}
