// Place all the styles related to the trails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.trail-div {
  background-color: #49D292;
  box-shadow: 0 2px 3px black;
  border-radius: 10px;
  width: 45%;
  margin: 20px;
  padding: 20px;
  display: inline-block;
}

@media (max-width: 900px) {
  .trail-div {
    width: 100%;
  }
}

.trail-stuff {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.trail-show-info {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  border: 1px solid black;
  border-radius: 10px;
}

.trail-info-box {
  margin-left: 25px;
  border: 1px solid black;
}

.hyyk-img {
  border-radius: 10px;
  width: 175px;
  height: 175px;
  box-shadow: 0 2px 3px black;
}

.hike-title {
  padding: 60px;
  background-color: #1B4B36;
  color: white;
  border-radius: 0 0 10px 10px;
  margin-bottom: 15px;
}

.hike-info {
  background-color: #FCF4D9;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.hike-info-section {
  border-right: 1px solid black;
}

.hike-info-section:last-child {
  border-right: none;
}

@media (max-width: 992px) {
  .hike-info-section {
    border: none;
  }
}

.hyyker-title {
  background-color: #1B4B36;
  padding: 25px;
  border-radius: 10px 10px 0 0;
  color: white;
}

.hyyker-list {
  background-color: #FCF4D9;
  border-radius: 0 0 10px 10px;
}

.hyyker {
  background-color: #49D292;
  padding: 15px;
  margin: 15px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.hyyker-stats {
  color: white;
}

.hyyk-records {
  background-color: #49D292;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
}

@media (max-width: 700px) {
  .hyyker {
    justify-content: center;
  }
}

.trail-edit-btn {
  margin-bottom: 15px;
}
