// Place all the styles related to the trails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#no-hikers {
  padding: 75px;
}

.trail-div {
  background-color: #1fdd81;
  box-shadow: 0 2px 3px black;
  border-radius: 10px;
  width: 45%;
  margin: 20px;
  padding: 20px;
  display: inline-block;
  box-shadow: 0 2px 3px black;
}

.btn-success {
  color: #fff;
  background-color: #0bc5d8;
  border-color: #0bc5d8;
}

.btn-success:hover {
  color: #fff;
  background-color: #25a6b2;
  border-color: #25a6b2;
}

body > div.container > div > div > div.trail-info > h2 > a {
  background-color: rgba(255,255,255, .5);
  color: #737373;
  padding: 5px;
  border-radius: 5px;
  font-size: .75em;
  box-shadow: 0 2px 1px #737373;
}

.navbar-default .navbar-text {
    color: #ccc;
}

@media (max-width: 900px) {
  .trail-div {
    width: 100%;
  }
}

.trail-stuff {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.trail-show-info {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  border: 1px solid black;
  border-radius: 10px;
}

.trail-info-box {
  margin-left: 25px;
  border: 1px solid black;
}

.hyyk-img {
  border-radius: 10px;
  width: 175px;
  height: 175px;
  box-shadow: 0 2px 3px black;
}

.hike-title {
  padding: 60px;
  background-color: #1B4B36;
  color: white;
  border-radius: 0 0 10px 10px;
  margin-bottom: 15px;
  box-shadow: 0 2px 3px black;
  background-image: url("http://i.imgur.com/Ru8YkDJ.jpg");
  background-size: cover;
}

.hike-info {
  background-color: #FCF4D9;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  box-shadow: 0 2px 3px black;
}

.hike-info-section {
  border-right: 1px solid black;
}

.hike-info-section:last-child {
  border-right: none;
}

@media (max-width: 992px) {
  .hike-info-section {
    border: none;
  }
}

.hyyker-title {
  background-color: #1B4B36;
  padding: 25px;
  border-radius: 10px 10px 0 0;
  color: white;
  box-shadow: 0 2px 3px black;
}

.hyyker-list {
  background-color: #FCF4D9;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 2px 3px black;
}

.hyyker {
  background-color: #49D292;
  padding: 15px;
  margin: 15px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 2px 3px black;
}

.hyyker-email {
  margin: 10px;
}

.hyyker-img img {
  border-radius: 10px;
  box-shadow: 0 1px 2px black;
}

.hyyker-stats {
  color: white;
  margin: 3px;
}

.hyyk-records {
  background-color: #49D292;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  box-shadow: 0 2px 3px black;
}

@media (max-width: 700px) {
  .hyyker {
    justify-content: center;
  }
}

.trail-edit-btn {
  margin-bottom: 15px;
}
