// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.class-method-buttons a {
  margin: 10px;
  background-color: #0bc5d8;
  border: none;
}
